:root {
    --navbar-brand-margin-right: 1rem;

    @media (max-width: 1280px) {
        --navbar-brand-margin-right: 0.5rem;
    }

    --navbar-toggler-font-size: 1.5rem;

    @media (max-width: 576px) {
        --navbar-toggler-font-size: 0.85rem;
    }
}

/** Main Colours **/
$estyn-blue: #2A7AB0; /** Primary Estyn brand colour **/
$estyn-green: #A2C83A; /** Secondary Estyn brand colour **/
$estyn-lightgreen: #ECF4D7;
$estyn-darkblue: #0E4163; /** Most typography and dark backgrounds **/
$estyn-lightblue: #DCEEFE; /** For light backgrounds other than white **/
$estyn-bluegrey: #AABCC8; /** For lines **/
$estyn-lightbluegrey: #F1F2F2; /** For lighter lines **/
$estyn-anotherlightblue: #6AA2C8; /** Map CTA search box and home intro provider search box **/
$estyn-footertext: #9DB2C0;
$estyn-white: #FFFFFF;
$border-radius-form: 4px;
/* $border-radius-sm: 10px;
$border-radius-lg: 29px; */

/** 

Signposting bg colours:

Blue: C8E8FE
Light pink: ECCAFD
Dark pink: CFADD3
Lime: E6FEA1
Very light brown: F6D5C3
Green: C4EDBB

**/

$esytn-signpost-blue: #C8E8FE;
$esytn-signpost-lightpink: #ECCAFD;
$estyn-signpost-lightpink2: #E3ABEA;
$esytn-signpost-darkpink: #CFADD3;
$esytn-signpost-lime: #E6FEA1;
$esytn-signpost-verylightbrown: #F6D5C3;
$esytn-signpost-green: #C4EDBB;
$esytn-signpost-green2: #D9EAAB;

/** Override Bootstrap default border colour **/
$border-color: $estyn-bluegrey;

/** Bootstrap form inputs overrides **/
$input-font-family: "PT Sans", sans-serif;
$input-bg: $estyn-white;
$input-focus-bg: $estyn-white;
$input-color: $estyn-darkblue;
$input-border-color: $estyn-bluegrey;
$input-border-radius: $border-radius-form;
$input-border-width: 1px;

/** Bootstrap nav overrides **/
$navbar-light-color: $estyn-blue;
$navbar-toggler-font-size: var(--navbar-toggler-font-size);
$navbar-light-toggler-border-color: transparent;
/* Nav mobile burger menu icon */
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$estyn-blue}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-padding-x: 0;
$navbar-brand-margin-end: var(--navbar-brand-margin-right);
$navbar-toggler-focus-width: 0;


@import 'bootstrap/scss/bootstrap';
@import 'common/fonts';

/* Leaflet JS Maps */
$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$leaflet-image-path: "~leaflet/dist/images/";
@import 'leaflet/dist/leaflet';

.navbar-toggler {
    /** Change the nav burger icon into an X. For some reason, using our own CSS variable didn't work **/
    &:not(.collapsed) {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='%232A7AB0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7 7l16 16M23 7L7 23'/></svg>");
    }
}

/* Define a variable called estyn-blue with value #DCEEFE
$estyn-blue: #DCEEFE;
*/



/** Padding and margin (using Bootstrap stuff) **/
$p-1: map-get($spacers, 1);
$p-2: map-get($spacers, 2);
$p-3: map-get($spacers, 3);
$p-4: map-get($spacers, 4);
$p-5: map-get($spacers, 5);
$m-1: $p-1;
$m-2: $p-2;
$m-3: $p-3;
$m-4: $p-4;
$m-5: $p-5;

.colour-black {
    color: black;
}

.wtimprove-spacer {
    max-width: 60px;
    width: 100%;
}

.pt-share-button-container {
    .btn, .btn-outline-info {
        @include media-breakpoint-down(sm) {
            border: none;
            padding: 0;
        }
    }
}

.provider-map {
    height: 460px;

    @include media-breakpoint-down(md) {
        height: 300px;
    }

    @include media-breakpoint-down(sm) {
        height: 200px;
    }
}

body {
    background-color: $estyn-white;
    color: $estyn-darkblue;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1600px;

/*     @media (min-width: 1200px) {
        max-width: 1600px;
    }

    @media (min-width: 992px) {
        max-width: 1600px;
    }

    @media (min-width: 768px) {
        max-width: 1600px;
    }

    @media (min-width: 576px) { 
        max-width: 1600px;
    } */
}



.bg-estyn-blue {
    background-color: $estyn-blue;
}
.bg-blue {background-color: $estyn-blue}
.bg-darkblue {background-color: $estyn-darkblue}
.bg-lightblue {background-color: $estyn-lightblue}
.bg-white {background-color:$estyn-white}

.bg-signpost-blue {background-color: $esytn-signpost-blue;}
.bg-signpost-lightpink {background-color: $esytn-signpost-lightpink;}
.bg-signpost-lightpink2 {background-color: $estyn-signpost-lightpink2;}
.bg-signpost-darkpink {background-color: $esytn-signpost-darkpink;}
.bg-signpost-lime {background-color: $esytn-signpost-lime;}
.bg-signpost-verylightbrown {background-color: $esytn-signpost-verylightbrown;}
.bg-signpost-green {background-color: $esytn-signpost-green;}
.bg-signpost-green2 {background-color: $esytn-signpost-green2;}

.border-white {
    border-color: white !important;
}

.bg-transparent-even-when-active {
    background-color: transparent !important;

    &:active {
        background-color: transparent !important;
    }
}

pre {
    code {
        word-break: break-all;
        text-wrap: wrap;
    }
}

/** TYPOGRAPHY **/

p, li {
    color: $estyn-darkblue;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 1.6rem;

    strong {
        font-weight: 700;
    }
}


.footer {
    p, li {
        color: $estyn-footertext;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 1.4rem;
    }

    h5 {
        color: $estyn-white;
        font-size: 16px;
        line-height: 24px;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .rounded-circle {
        background: $estyn-footertext;
    
        span {
            color: $estyn-darkblue;
            font-size: 18px;
            line-height: 18px;
    
            a {
                color: $estyn-darkblue;
            }
        }

        &:hover {
            background: $estyn-white;
        }
    }
    
    li {
        list-style-type: none;

        margin-bottom: 0.8rem;
    }

    .list-group-item, .list-group a {
        padding: .5rem 0;
        color: $estyn-footertext;
        background-color: transparent;
        border: none;

        text-decoration: none;

        &:hover {
            color: $estyn-white;
        }
    }

    .nav-link {
        display: block;
        padding: .5rem 2rem .5rem 0;
        color: $estyn-white;

        &:hover {
            color: $estyn-darkblue;
        }
    }

    .fa-ul {
        margin-left: 2em;

        li {
            margin-bottom: 0.5rem;

            a {
                color: $estyn-footertext;
                text-decoration: none;

                &:hover {
                    color: $estyn-white;
                }
            }
        }
    }

    .footer-bottom-nav {
        li {
            padding: 0.5rem 0;

            a {
                color: $estyn-white;

                display: block;
                padding: .5rem 2rem .5rem 0;

                text-decoration: none;

                &:hover {
                    color: $estyn-darkblue;
                }
            }
        }
    }
    
}


.magic-responsive-image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.signpost-link {
    color: unset;
}


h1 {
    color: $estyn-darkblue;
    font-size: 46px;
    line-height: 55px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    margin-bottom: $m-5;
}
.insideHero {
    h1 {
        color: $estyn-white;
        font-size: 56px;
        line-height: 62px;
    }
}

h2 {
    color: $estyn-darkblue;
    font-size: 40px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    margin-bottom: $m-4;
}
h3 {
    color: $estyn-darkblue;
    font-size: 27px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    margin-bottom: $m-4;
}
h4 {
    color: $estyn-darkblue;
    font-size: 24px;
    line-height: 30px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    margin-bottom: $m-4;
}
h5 {
    color: $estyn-darkblue;
    font-size: 20px;
    line-height: 26px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    margin-bottom: $m-4;
}

blockquote {
    color: $estyn-darkblue;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    position:relative;
    margin-bottom: 1.6rem;

    p {
        font-style: italic;
    }

    @include media-breakpoint-down(lg) {
        padding-left: $p-4;
    }

    &::before {
        content: '';
        position:absolute;
        left:-20px;
        top:0;
        bottom:0;
        width:2px;
        background-color: $estyn-blue;

        @include media-breakpoint-down(lg) {
            left: 0;
        }
    }
}


.btn {
    border-radius: 500px;
    padding: 0.8rem 1.2rem;
}

.input-group {
    .btn {
        border-radius: $border-radius-sm;
    }
}
.btn-primary {
    font-size: 16px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
    background-color: $estyn-blue;
    border-color: transparent;
    color: $estyn-white;
    position: relative;

    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        background: $estyn-darkblue;
        border: 1px solid transparent;
        color:$estyn-white;
    }
}

.btn-secondary {
    font-size: 16px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
    background-color: $estyn-green;
    border-color: transparent;
    color:$estyn-darkblue;
    position: relative;
    
    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        background: $estyn-white;
        border: 1px solid transparent;
        color:$estyn-darkblue;
    }
}
.btn-outline-primary {
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: $estyn-darkblue;
    border-color: $estyn-darkblue;
    
    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        background: $estyn-darkblue;
        color:$estyn-white;
        border-color: $estyn-darkblue;
    }
}
.btn-outline-light {
    font-size: 16px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
    color: $estyn-white;
    border-color: $estyn-white;

    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        background: $estyn-darkblue;
        color:$estyn-white;
        border-color: $estyn-darkblue;
    }
}
.btn-outline-info {
    font-size: 14px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $estyn-darkblue;
    border-color: $estyn-bluegrey;
    
    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        background: $estyn-darkblue;
        color:$estyn-white;
        border-color: $estyn-darkblue;
    }
}
.btn-outline-info i {
    margin-left: 5px;
}
.btn-link {
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: $estyn-darkblue;
    
    &.focus, &:focus, &:not(:disabled):not(.disabled):active, &:hover {
        color:$estyn-blue;
    }
}
.homeHero .btn-link {
    padding: 0;
    font-size: 18px;
    color: $estyn-white;
    text-decoration: none;
}
.homeHero .btn-link.focus, .homeHero .btn-link:focus, .homeHero .btn-link:not(:disabled):not(.disabled):active, .homeHero .btn-link:hover {
    color: $estyn-lightblue;
}



hr {
    height: 1px;
    color: $estyn-bluegrey;
    background-color: $estyn-bluegrey;
    opacity: 1;

    margin: $m-4 0;

    @include media-breakpoint-down(sm) {
        margin: $m-4 0;
    }

    &:not([size]) {
        height: 1px;
    }

    &.hrGreen{
        height: 4px;
        color: $estyn-green;
        background-color: $estyn-green;

        margin: $m-4 0;

        @include media-breakpoint-down(sm) {
            margin: $m-3 0 $m-4 0;
        }
    }

    &.hrnav{
        color: $estyn-lightblue;
        background-color: $estyn-lightblue;
    }
}

.reportMain {
    hr {
        height: 4px;
        color: $estyn-lightbluegrey;
        background-color: $estyn-lightbluegrey;
    }
}

/** Nav **/
.navbar {
    border-bottom: 1px solid rgba(red($estyn-darkblue), green($estyn-darkblue), blue($estyn-darkblue), 0.3);

    .input-group .btn-primary  {
        border: 1px solid $estyn-blue;
    }
    
    .form-control {
        /* border: 1px solid $estyn-blue;
        border-radius: $border-radius-sm; */
    }

    input[type="text"] {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color:$estyn-darkblue;
        background-color: rgba(red($estyn-blue), green($estyn-blue), blue($estyn-blue), 0.14);
        background-clip: padding-box;
        border: none;
    }

    .estyn-search-container {
        .btn, .btn-secondary {
            padding: 0.8rem 1.2rem 0.5rem 1.2rem;
            border-color: transparent;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            font-size: 24px;
            font-family: "museo", serif;
            font-weight: 700;
            font-style: normal;
            background-color: $estyn-blue;
            color: $estyn-white;
        }
    }

    .sp-icon-cont {
        width: 59px;
        height: 59px;
    }
    
    .sp-icon-cont i {
        font-size: 24px;
    }
    
    p {
        &.sp-title {
            font-size: 16px;
            line-height: 20px;
        }

        &.sp-desc {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .navbar-collapse {
        
        
        transition: height ease-in 100ms;

        @include media-breakpoint-down(xl) {
            min-height: 100vh;
        }

        hr {
            position: absolute;
            top: 68px;
            left: 0;

            color: $estyn-lightblue;

            @include media-breakpoint-down(xl) {
                top: 94px;
            }

            @include media-breakpoint-down(sm) {
                top: 72px;
            }
        }
    }
}
.nav-item {
    &.dropdown {
        position:initial; /*important so that mega menu is full width*/
    }
}
.nav-item {
    font-size: 20px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
    color: $estyn-blue;
    border-right: 1px solid rgba(red($estyn-darkblue), green($estyn-darkblue), blue($estyn-darkblue), 0.3);
    margin-bottom: 0;

    @include media-breakpoint-down(xl) {
        border-right: none;
    }

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
    
    &.nav-search, &.nav-language {
        border-right: none; /* Remove border lines to right */
    }

    &.nav-language {
        
        .nav-link {
            border-right: 1px solid rgba(red($estyn-blue), green($estyn-blue), blue($estyn-blue), 1);

            @include media-breakpoint-down(xl) {
                border-right: none;
            }
        }
    }

    .dropdown-toggle {
        &::after {
            margin-left: 1em;
            margin-top: .5em;
            border:none;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: 'Font Awesome 6 Pro'; 
            font-style: normal; /* Add this line for sharp style */
            content: '\f107';
            font-weight: 900;

            @media (max-width: 1280px) {
                margin-left: 0.5em;
            }
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }
}

.nav-item-no-border {
    border-right: none; /* Remove border lines to right */
}

header {
    .nav-link {
        &.dropdown-toggle {
            &.show {
                /* On mobile, when one of the main nav's dropdowns is open,
                    the toggler that was clicked changes to a 'Back' button,
                    which needs to have no padding etc. */
                @include media-breakpoint-down(xl) {
                    padding: 0;
                    margin: 0;
                    line-height: normal;
                }
            }
        }
    }
}

.navbar-expand-xl {
    .navbar-nav {
        .nav-link {
            /* padding-right: 2rem;
            padding-left: 2rem; */

            padding-left: 2.6rem;
            padding-right: 2.6rem;

            @media (max-width: 1414px) {
                padding-right: 2rem;
                padding-left: 2rem;
            }

            @media (max-width: 1370px) {
                padding-right: 0.9rem;
                padding-left: 0.9rem;
            }

            @include media-breakpoint-down(sm) {
                padding-left: 0;
                padding-right: 0;
            }


        }

        .nav-language {
            .nav-link {
                padding-right: 2rem;
                padding-left: 2rem;
    
                @media (max-width: 1344px) {
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                }
    
                @include media-breakpoint-down(sm) {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }                
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $estyn-blue;

            &:focus, &:hover {
                color: $estyn-darkblue;
            }
        }
    }
}

.nav-item-sub, .nav-item-main {
    float:left;
    clear:both;
}

.nav-item-sub {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: $estyn-darkblue;
}

.dropdown-menu {
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    &.megaMenu {
        left:0;
        right:0;
        margin-top: 1px; /* to show border line */

        padding: .5rem 0;
        color: $estyn-darkblue;
        background-color: $estyn-white;
        border-top:none;
        border-right:none;
        border-left:none;
        border-bottom:1px solid $estyn-darkblue;
        border-radius: 0;
    }

    &[data-bs-popper] {
        left:0;
        right:0;
        margin-top: 1px; /* to show border line */
    }

    &.search-menu {
        transition: height ease-in 100ms;
        height: 0;

        &.show {
            position: fixed;
            top: 110px;
            height: auto;

            @include media-breakpoint-down(xl) {
                top: 98px;
                height: 100%;
            }

            @include media-breakpoint-down(sm) {
                top: 72px;
            }
        }
    }
}
.megaMenuFeature {
    position:relative;
    
    &::after {
        content: '';
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        border:1px solid rgba(red($estyn-darkblue), green($estyn-darkblue), blue($estyn-darkblue), 0.3);

        @include media-breakpoint-down(md) {
            top: 100%;
            width: 100%;
        }
    }

    .sp-text {
        a {
            color: $estyn-blue;
            .sp-title {
                color: $estyn-blue;
            }
        }   
    }
}


.megaMenuMain ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.megaMenuMain li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $estyn-blue;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    margin: 0.5rem 0;
}
.megaMenuMain li a {
    color: $estyn-blue;
    text-decoration: none;
}
.megaMenuMain li a:hover {
    color: $estyn-darkblue;
}
.findmysector {
    color: $estyn-darkblue;
    font-size: 14px;
    line-height: 20px;
    font-family: "museo", serif;
    font-weight: 500;
    font-style: normal;
}
/** Hero **/
.insideHero, .homeHero {
    width:100%;
    height:700px;

    @include media-breakpoint-down(sm) {
        height: 505px;
    }

    position:relative;
    
}
.insideHeroContent, .homeHeroContent {
    margin-bottom:200px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 50px;
    }

    color: $estyn-white;
}
.homeHeroContent {
    margin-bottom: 100px;
}
.heroImage {
    z-index: -2;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.heroImage img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.heroOverlay {
    z-index: -1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgb(14,65,99);
    background: -moz-linear-gradient(0deg, rgba(14,65,99,0.7497373949579832) 20%, rgba(14,65,99,0.21752450980392157) 80%);
    background: -webkit-linear-gradient(0deg, rgba(14,65,99,0.7497373949579832) 20%, rgba(14,65,99,0.21752450980392157) 80%);
    background: linear-gradient(0deg, rgba(14,65,99,0.7497373949579832) 20%, rgba(14,65,99,0.21752450980392157) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e4163",endColorstr="#0e4163",GradientType=1);
}
.insideHero h1, .homeHero h1 {
    color: $estyn-white;
    font-size: 56px;
    line-height: 62px;
    position:relative;
}
.insideHero h1::after, .homeHero h1::after {
    content: '';
    position: absolute;
    background-color:  $estyn-green;
    bottom: -30px;
    left:0;
    width:327px;
    height:4px;
}
/** Intro **/
.insideIntro {
    background-color: $estyn-lightblue;

    .inside-intro-content {

        .btn {
            margin-bottom: $m-3;
        }
    }

    .intro-image-container {
        &.crop-portrait {
            position: relative;
            width: 100%;
            /* padding-top: 133.33%; */ /* 3:4 aspect ratio */
            padding-top: 119.33%;
            /* padding-top: 100%; */
            overflow: hidden;

            @include media-breakpoint-down(md) {
                padding-top: 300px;
                width: 250px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }

        @include media-breakpoint-down(md) {
            &:not(.crop-portrait) {
                img {
                    width: 250px;
                }
            }
        }
    }
}
.homeIntro {
    background-color: $estyn-blue;

    h2, p, .form-label {
        color: $estyn-white;
    }
    
    .form-label {
        font-size: 20px;

        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }    

    .form-control {
        color: $estyn-darkblue;
        background-color: $estyn-anotherlightblue; /* #7EB1D6;*/
        background-clip: padding-box;
        border: none;/* 1px solid $estyn-lightbluegrey; */
        border-radius: $border-radius-sm;
    }

    .input-group {
        .btn-secondary{
            border: none; /* 1px solid $estyn-lightbluegrey; */
        }
    }

    .estyn-search-container {
        .btn, .btn-secondary {
            padding: 0.8rem 1.2rem 0.5rem 1.2rem;/* padding: 0.8rem 1.2rem; */

            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;

            font-size: 24px;

            @include media-breakpoint-down(md) {
                padding: 0.5rem 1rem;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

        input[type="text"] {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            @include media-breakpoint-down(md) {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
    }
}

.insideIntroArc, .homeIntroArc {margin-top: -71px;} /*Make this the same as the height of the SVG*/
.insideIntroArc svg, .homeIntroArc svg {width:100%;}
.insideIntro p {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 1.8rem;
}


.homeProviderCol {
    border-right: 1px solid #6AA2C8;
}

/** Signposting **/
.sp-icon-cont {
    width: 72px;
    height: 72px;
    border-radius: $border-radius-lg;
    background-color: $estyn-blue;

    i {
        color: $estyn-darkblue;
        font-size: 28px;
    }

    img {
        width: 38%;
    }

    &.bg-signpost-blue {
        background-color: $esytn-signpost-blue;
    }
    &.bg-signpost-lightpink {
        background-color: $esytn-signpost-lightpink;
    }
    &.bg-signpost-lightpink2 {
        background-color: $estyn-signpost-lightpink2;
    }
    &.bg-signpost-darkpink {
        background-color: $esytn-signpost-darkpink;
    }
    &.bg-signpost-lime {
        background-color: $esytn-signpost-lime;
    }
    &.bg-signpost-verylightbrown {
        background-color: $esytn-signpost-verylightbrown;
    }
    &.bg-signpost-green {
        background-color: $esytn-signpost-green;
    }
    &.bg-signpost-green2 {
        background-color: $esytn-signpost-green2;
    }
}
p.sp-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
p.sp-desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.sp-text a {
    color: $estyn-darkblue;
    text-decoration: none;
}
.sp-text a:hover, .sp-text a .sp-title:hover {
    color: $estyn-blue;
}

/** Search **/
.searchFilter .form-control {
    border-radius: $border-radius-sm;
}
.searchFilter h2.accordion-header {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}
.searchFilter .accordion-button {
    padding: 1rem 0;
    font-size: 16px;
    color: $estyn-darkblue;
    background-color: $estyn-white;
}
.searchFilter .accordion-body {
    padding: 1rem 0;
}

.searchResourceType, .searchResourceDate, .searchResourceExtra {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $estyn-darkblue;
    font-size:12px;
}
.searchResourceType {font-weight: 600;}
.searchResourceDate, .searchResourceExtra {font-weight: 400;}



/** Full report **/
.reportContents .list-group-item {
    padding: .5rem 5px;
    color: $estyn-darkblue;
    background-color: $estyn-white;
    border-color: $estyn-lightblue;
}
.reportContents .list-group-item.active {
    color: $estyn-darkblue;
    background-color: $estyn-lightblue;
    border-color: $estyn-lightblue;
}
.reportContents .list-group-item-action:focus, .reportContents .list-group-item-action:hover {
    color: $estyn-white;
    background-color: $estyn-darkblue;
}

.break-out-of-containers {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.ctaSearchMapContainer, .cta.ctaSearchMapContainer {
    .card-body {
        @include media-breakpoint-down(lg) {
            margin-bottom: 0;
        }
    }

    .input-group {
        .btn {
            @include media-breakpoint-down(sm) {
                padding: 0.5rem 1rem;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

        input[type="text"] {
            @include media-breakpoint-down(md) {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
    }
}

/** CTA **/
.cta {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    img {
        object-fit: contain;
/*         &:not(.breakOut) {
            position: absolute;
            height: 100%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            object-fit: contain;

            @include media-breakpoint-down(md) {
                position: static;
                width: 300px;
                max-width: 100%;
                height: auto;
                transform: none;
            }
        } */

        &.breakOut {
            max-width: 100%;
            
            margin-bottom: -25%;
            margin-top: -8%;

            @include media-breakpoint-down(xxl) {
                margin-bottom: -20%;
                margin-top: -10%;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        &.ctaSearchMap {
            @include media-breakpoint-down(xxl) {
                /* max-width: 80%; */
            }
            /* max-width: 61%; */

            margin-bottom: -19%;
            height: 513px;

            @include media-breakpoint-down(lg) {
                margin-top: 0;
                margin-bottom: -10%;
            }

            @include media-breakpoint-down(sm) {
                height: auto;
                width: min(100%, 277px);
            }
        }
    }

    .cta-search-col {
        input {
            font-family: "PT Sans", sans-serif;
            color: $estyn-anotherlightblue;
            font-size: 28px;

            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
            
            &::placeholder {
                font-family: "PT Sans", sans-serif;
                color: $estyn-anotherlightblue;
            }

            &[type="text"] {
                border-color: $estyn-anotherlightblue;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }



        .ctaSearchBoxContainer {
            position: absolute;
            top: 75%;
            right: 0px;
            width: 100%;

            @include media-breakpoint-down(sm) {
                padding-left: $card-spacer-x;
                padding-right: $card-spacer-x;
            }

            .btn {
                padding: 0.8rem 1.2rem 0.5rem 1.2rem;
            }

            .btn-primary {
                font-size: 24px;
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
            }
    
            .form-control {
                padding-left: 1.15rem;
                padding-right: 1.15rem;
            }
        }

        .input-group {
            width: 100%;

            @include media-breakpoint-down(lg) {
                width: min(100%, 511px);
            }
        }
    }
}

.card {
    
    &.card-cta {
        background-color: $estyn-lightblue;
        
        border-radius: $border-radius-xxl;

        @include media-breakpoint-down(sm) {
            border-radius: $border-radius-lg;
        }

        border: none;
        

        p {
            font-size: 22px;
            line-height: 30px;
            font-weight: 400;
        }
    }
}

.ctaArc, .ctaArcMap {
    left: 0;
    right: 0;
    z-index: -1;
}

.ctaArc {
    top: 40%;

    svg {
        width: 100%;
        background: rgb(42, 122, 176);
        background: -moz-linear-gradient(0deg, rgba(42, 122, 176, 0) 0%, rgba(42, 122, 176, 0.09007352941176472) 100%);
        background: -webkit-linear-gradient(0deg, rgba(42, 122, 176, 0) 0%, rgba(42, 122, 176, 0.09007352941176472) 100%);
        background: linear-gradient(0deg, rgba(42, 122, 176, 0) 0%, rgba(42, 122, 176, 0.09007352941176472) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a7ab0", endColorstr="#2a7ab0", GradientType=1);
    }
}

.ctaArcMap {
    top: 24%;

    @include media-breakpoint-down(md) {
        top: 19%;
    }

    svg {
        width: 100%;
    }
}

.ctaArcMapBGFiller {
    top: 38%;
    z-index: -1;
    height: 481px;

    @include media-breakpoint-down(md) {
        top: 33%;
        height: 616px;
    }
}

.ctaMapLink {
    color: $estyn-white;
    font-size: 18px;
    line-height: 24px;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;

    &:hover {
        color: $estyn-white;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.slideMenu {
/*     .carousel-control-next, .carousel-control-prev {
        position: inherit;
        display: block;
        width: auto;
    } */

    .btn {
        padding: 0.5rem 1.2rem;

        @include media-breakpoint-down(sm) {
            padding-top: 0;
        }

        &.pt-carousel-arrow {
            font-size: 24px;

            padding-top: 0;
            padding-bottom: 0;

            text-decoration: none;

            @include media-breakpoint-down(sm) {
                font-size: 18px;
                padding-right: 0.3rem;
            }
        }
    }

    .btn-outline-primary {
        line-height: normal;

        @include media-breakpoint-down(sm) {
            border: none;
            text-decoration: underline;
            padding-left: 0;
        }
    }

    .card {
        min-width: 456px;
        max-width: 456px;
        overflow: hidden;
        position: relative;
        background: transparent;
        border: none;

        a, a:visited, a:active {
            text-decoration: none;
        }

        .card-footer {
            border: none;
            background: transparent;
        }

        .slideCardBody {
            width: 100%;
            overflow: hidden;
            padding-top: 130%;
            position: relative;

            img {
                bottom: 0;
                height: 100%;
                left: 0;
                -o-object-fit: cover;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                border-radius: $border-radius-sm;
            }
        }
    }
}
.pobl-tech-carousel-block {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.pobl-tech-carousel-block-slider {
    scroll-behavior: smooth;
}

.scrollCont {
    scroll-behavior: smooth;
}

.reportMain {
    p, li {
        font-size: 19px;
        line-height: 26px;
    }

    p.lead {
        font-size: 26px;
        line-height: 32px;
        font-weight: 400;
    }
}

.reportTypeHero, .reportDateHero, .reportReadHero {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 16px;
}

.reportTypeHero {
    font-size: 16px;
    font-weight: 600;
}

.reportDateHero, .reportReadHero {
    font-size: 14px;
    font-weight: 400;
}

.landscapeImg {
    width: 100%;
    padding-top: 60%;
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;

    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.reportProviders {
    .list-group-item {
        padding: .3rem 0;
        color: $estyn-blue;
        text-decoration: underline;
        border: none;
        font-weight: 700;
        font-size: 19px;

        &:focus, &:hover {
            color: $estyn-darkblue;
            background-color: $estyn-lightblue;
        }
    }
}

.resourceList {
    .list-group-item {
        background-color: $estyn-lightblue;
        margin: .3rem 0;
        padding: .8rem 1rem;
        border: none;
        border-radius: $border-radius-sm;
        font-size: 16px;
        font-family: "museo", serif;
        font-weight: 700;
        font-style: normal;
        color: $estyn-darkblue;

        &:hover {
            background-color: $estyn-darkblue;
            color: $estyn-white;
        }

        &:hover .searchResourceType, &:hover .searchResourceDate, &:hover .searchResourceExtra {
            color: $estyn-white;
        }

        &.highlighted-vacancy {
            background-color: $estyn-lightgreen;

            .searchResourceType {
                background-color: $estyn-green;
                padding: $p-1 $p-2;
                border-radius: $border-radius-lg;
                margin-bottom: $m-2;
            }
        }
    }
}

.resource-creator {
    .resource-creator-circle-image {
        width: 58px;
        height: 58px;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
            width: 40px;
            height: 40px;
        }
    }

    font-size: 16px;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

/* .form-control {
    color: $estyn-darkblue;
    background-color: $estyn-lightblue;
    border: 1px solid $estyn-darkblue;
    border-radius: $border-radius-form;
} */

.register-for-updates {
    .form-control {
        color: $estyn-darkblue;
        background-color: $estyn-lightblue;
        border: 1px solid $estyn-darkblue;
        border-radius: $border-radius-form;
    }
}

.mainNum {
    width: 36px;
    float: left;
}

.numrel {
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.numrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dot-link-arrow {
    a, a:focus, a:visited, a:active {
        color: $estyn-darkblue;
        text-decoration: none;

        font-family: "museo", serif;
        font-size: 18px;
        font-weight: 700;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }
}

.wp-block-file {

    font-size: inherit;

    margin-bottom: 0;

    & + & {
        margin-top: $m-1;

        @include media-breakpoint-up(sm) {
            margin-top: $m-3;
        }
    }

    &:not(.wp-element-button) {
        font-size: inherit;
    }

    a, a:visited, a:active {
        /** 
            Similar to .resourceList .list-group-item
        **/
        background-color: $estyn-lightblue;
        /* margin: $m-3 0; */
        padding: .8rem 1rem;
        border: none;
        border-radius: $border-radius-sm;
        font-size: 16px;
        font-family: "museo", serif;
        font-weight: 700;
        font-style: normal;
        color: $estyn-darkblue;

        display: block;

        text-decoration: none;
        &:visited, &:active {
            color: $estyn-darkblue;
        }

        &:hover {
            background-color: $estyn-darkblue;
            color: $estyn-white;
        }

        @include media-breakpoint-down(lg) {
            /* margin: .25rem 0; */
            padding: .7rem 0.9rem;
            font-size: 15px;
            line-height: 23px;
        }

        @include media-breakpoint-down(sm) {
            /* margin: .2rem 0; */
            padding: .8rem 0.8rem;
            font-size: 14px;
            line-height: 22px;
        }
    }

}

.wp-block-image {
    img {
        aspect-ratio: auto !important;
    }
}

.search-results-loading-indicator-container {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

/** Rogue Media Queries **/
@media (max-width: 1800px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    :root {
        /** Border Radius **/
        /* --border-radius-lg: 16px; */
    }

/*     .navbar-brand img {
        width: 160px;
    } */

    p, li, .reportMain p, .insideIntro p, .card.card-cta p, .reportMain li, blockquote {
        font-size: 18px;
        line-height: 28px;
    }

    .reportMain p.lead {
        font-size: 19px;
        line-height: 29px;
    }

    h1 {
        font-size: 36px;
        line-height: 41px;
    }

    .insideHero h1, .homeHero h1 {
        font-size: 46px;
        line-height: 50px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .reportTypeHero, .reportDateHero, .reportReadHero {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 15px;
    }

    .btn-outline-primary {
        font-size: 15px;
    }

    .btn-outline-info {
        font-size: 13px;
    }

    .btn-outline-light {
        font-size: 15px;
    }

    .btn-link {
        font-size: 15px;
    }

    .homeHero .btn-link {
        font-size: 17px;
    }

    .sp-icon-cont {
        width: 67px;
        height: 67px;
    }

    .sp-icon-cont i {
        font-size: 26px;
    }

    p.sp-title {
        font-size: 18px;
        line-height: 22px;
    }

    p.sp-desc {
        font-size: 16px;
        line-height: 20px;
    }

    .reportProviders .list-group-item {
        padding: .25rem 0;
        font-size: 17px;
        line-height: 25px;
    }

    .resourceList .list-group-item {
        margin: .25rem 0;
        padding: .7rem 0.9rem;
        font-size: 15px;
        line-height: 23px;
    }
}

@media (max-width: 768px) {
    .homeProviderCol {
        border-right: none;
    }
}

@media (max-width: 576px) {
    :root {
        /** Border Radius **/
        /* --border-radius-sm: 8px;
        --border-radius-lg: 10px; */
    }

    .navbar-brand img {
        width: 86px;
        margin-top: 3px;
    }

    p, li, .reportMain p, .insideIntro p, .card.card-cta p, .reportMain li, blockquote {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 1.2rem;
    }

    .reportMain p.lead {
        font-size: 17px;
        line-height: 23px;
    }

    h1 {
        font-size: 26px;
        line-height: 31px;
    }

    .insideHero h1, .homeHero h1 {
        font-size: 32px;
        line-height: 34px;
    }

    .insideHero h1::after, .homeHero h1::after {
        width: 70%;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .reportTypeHero, .reportDateHero, .reportReadHero {
        font-size: 12px;
    }

    .btn-primary {
        font-size: 14px;
    }

    .btn-outline-primary {
        font-size: 14px;
    }

    .btn-outline-info {
        font-size: 12px;
    }

    .btn-outline-light {
        font-size: 14px;
    }

    .btn-link {
        font-size: 14px;
    }

    .homeHero .btn-link {
        font-size: 16px;
    }

    .sp-icon-cont {
        width: 63px;
        height: 63px;
    }

    .sp-icon-cont i {
        font-size: 24px;
    }

    p.sp-title {
        font-size: 16px;
        line-height: 20px;
    }

    p.sp-desc {
        font-size: 14px;
        line-height: 18px;
    }

    :root {
       /*  --border-radius-lg: 10px; */
    }

    .slideMenu .card {
        min-width: 248px;

        .card-footer p {
            font-size: 14px;
        }
    }

    .reportProviders .list-group-item {
        padding: .2rem 0;
        font-size: 16px;
        line-height: 24px;
    }

    .resourceList .list-group-item {
        margin: .2rem 0;
        padding: .6rem 0.8rem;
        font-size: 14px;
        line-height: 22px;
    }
}