# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependencies
# vendor folders anywhere in the repository, but not files named vendor
vendor/
/web/app/plugins/*
# Ignore all files in the mu-plugins directory, but push the directory itself
/web/app/mu-plugins/*
# BUT we want to include constants.php
!/web/app/mu-plugins/constants.php
/web/app/languages/*

# BUT we want to include pobl-tech-blocks plugin, minus the node_modules and blocks/build folders
!/web/app/plugins/pobl-tech-blocks/
!/web/app/plugins/pobl-tech-blocks/**
/web/app/plugins/pobl-tech-blocks/**/.DS_Store
/web/app/plugins/pobl-tech-blocks/**/node_modules/
/web/app/plugins/pobl-tech-blocks/blocks/build/
/web/app/plugins/pobl-tech-blocks/package-lock.json

# We don't need the twentytwentyfour theme
/web/app/themes/twentytwentyfour/

# Ignore dotenv environment files and example
.env
#.env.example

# Ignore Composer's files
composer.phar

# Ignore Capistrano deploy files
/config/deploy.rb
/config/deploy/

# Ignore application files
/web/wp/
/web/app/uploads/

# Ignore IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
web/app/debug.log

# Ignore cache
/web/app/cache/acorn/
