/node_modules
/vendor
/public
.env
.budfiles
npm-debug.log
yarn-error.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build files
/dist/

# Ignore Sage's specific files
/resources/assets/config.json
/resources/assets/build/

# Ignore IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
